* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    font-family: Open Sans, Arial, sans-serif;
    color: #fff;
    /* overflow-x: hidden; */
}

/* Header Section  start */
header{
    position: relative;
}

/* nav section */
.breadcrumb{
    position: absolute;
    left: 90px;
    top: 20px;
    font-size: 12px;
    color: #b7bcbc;
}
.breadcrumb a{
    color: #b7bcbc;
    letter-spacing: 0.8px;
}

/* Main Container */
.main-container {
    display: flex;
    height: auto;
    width: 100%;
}

/* Left Section Styling */
.left-section {
    flex: 1;
    background: linear-gradient(60deg, #060e1e, #1c355b 58%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 0 80px ;
}
.left-section h1 {
    background: linear-gradient(88.15deg, #f7f2d4 .27%, #d6c07c 93.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.62rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.left-section p{
    font-size: 1.125rem;
    line-height: 1.6;
    color: #ffffff;
    padding-right: 20px;
}

/* Right Section Styling */
.right-section {
    flex: 1.1;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Main Section End */

.divider {
    background: linear-gradient(to bottom, #EDE1B6, #D9C990);
    height: 15px;
    width: 100%;
}
/* header section end ............................... */


/* Article Section Style start*/

.article-container{
    width: 100%;
    height: auto;
    background-color: #f9fafb;
    padding-bottom: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-content {
    margin: 1rem 3rem;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.article-content h1 {
    font-size: 42px;
    color: #103167;
}
.small-divider {
    background: linear-gradient(to bottom, #EDE1B6, #D9C990);
    height: 5px;
    width: 80px;
    margin: 20px;
}
.article-content p {
    color: #666666;
    width: 88%;
    font-size: 1.2em;
    line-height: 1.75rem;
    padding: 15px 20px 0 20px;
}
.article-content a {
    font-size: 16px;
    color: #1c355b;
    padding: 1px 6px 1px 0px;
    text-decoration: none;
}
.article-content a:hover {
    text-decoration: underline;
}
/* Article section end.............................. */

/* Blog container - Centers the content */
.blog-container {
    padding-top:60px;
}
.blog-flex-container {
    display: flex;
    gap: 25px;
    width: 100%;
    /* height: 90vh; */
    margin-bottom: 15px;
}
.big_height_img {
    width: 52%;
    height: auto;
    display: flex; /* Ensure the container behaves flexibly */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent any content overflow */
    background-color: #f3f3f3; /* Optional: Add a background color for better visuals */
}
.big_height_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Blog description card */
.blog-description {
    width: 50%;
    background: linear-gradient(60deg, #060e1e, #1c355b 58%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    color: #ffffff;
    /* box-sizing: border-box; Padding won't overflow */
}
/* Blog title box */
.blog-title-box {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.divider-vertical {
    background: linear-gradient(to bottom, #EDE1B6, #D9C990);
    height: auto;
    width: 5px;
    /* margin-bottom: 20px; */
    /* margin: 20px; */
}
/* Blog heading styling */
.blog-heading {
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
    /* padding-left: 20px; */
}
.blog-heading:hover {
    text-decoration: underline;
}
.blog-title {
    font-size: 1.4rem;
}

.blog-describe {
    font-size: 1.125rem;
    line-height: 1.8rem;
}

.blog-describe span {
    text-decoration: underline;
}

/* Active link styling */
.active-link {
    background-color: #ffffff;
    height: 50px;
    width: 220px;
    text-align: center;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-link a {
    text-decoration: none;
    font-weight: bold;
    color: #0c264f !important;
}

.active-link  >img {
    visibility: hidden;
    margin-left: 10px;  
}

.active-link:hover>img  {
    visibility: visible;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .blog-grid-container > div {
        flex: 1 1 calc(100% - 20px); /* Single column on smaller screens */
        max-width: 100%;
    }
}


/* .blog-flex-container >.img , .blog-flex-containe>div>.img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}  */


#article-bg {
    background: linear-gradient(60deg, #060e1e, #1c355b 58%);
    /* margin: 0 70px; */
    width: 100%;
    /* margin: 0; */
}
#article_indent{
    margin: 0 !important;
}
#title-font {
    font-size: 1rem !important;
    text-transform: uppercase;
    color: #ffffff;
}
#medium-font {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.9rem;
}
#project-bg {
    background: #ffffff !important;
    color: #1c355b !important;
    flex-grow: 1;
    padding: 20px;
}
#heading_color{
    font-size: 2.625rem !important;
    color: #103167 !important;
    font-weight: 700;
}
.img_container{
    margin-right: 20px;
}
.text_decor{
    text-decoration: none !important;
}

.active-bg{
   background-color: #103167; 
}
.active-bg a{
    color: #ffffff !important;
}

.description-color{
    color: #666666;
}

#description-container-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb !important;
    /* background-color: #f9fafb; */
}


