* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-card {
  display: flex;
}
body {
  font-family: Open Sans, Arial, sans-serif;
}

/* header part  */

.head {
    position: sticky ;
    top:0 ;
    background-color: white
}

/* 1st information part  */

.information {
  height: 6vh;
  gap: 30px;
  width: 100%;
  background: linear-gradient(90deg, rgb(3, 3, 61), #090979);
  align-items: center;
  justify-content: flex-end;
  padding: 0 100px;
  color: white;
}

.information > p {
  border-bottom: 2px solid transparent;
}

.information > p:hover {
  border-bottom: 2px solid white;
}
/* 2nd navbar part */

.logo {
  width: 92px;
  height: 66px;
}

.navbar {
  /* background-color: aqua; */
  height: 12vh;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  gap: 30px;
}

.navbar-list {
  height: 100%;
  list-style: none;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px;
  position: relative;
}

.navbar-list > .li-img {
  color: #090979;
}
.li-img {
  height: 100%;
  align-items: center;
  background-image: linear-gradient(0deg, #000, #000);
  background-size: 0% 4px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

.li-img:hover {
  background-size: 100% 4px;
}

.li-img > img {
  height: 16px;
  width: 20px;
  transform: rotate(-90deg);
  margin-left: 2px;
  transition: transform 0.4s ease;
}

.li-img:hover > img {
  height: 16px;
  width: 20px;
  transform: rotate(90deg);
  margin-left: 3px;
}

.searchBox {
  height: 40px;
  width: 150px;
  border: 1px solid hsla(0, 0.00%, 0.00%, 0.16);
  padding: 6px 11px;
  background-color: white;
  margin-left: auto;
}

.searchBox > .searchButton {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
}
.searchBox > button > .search-text {
  border: none;
}

.searchBox > button > .searchIcon {
  background-color: white;
  width: 25px;
  height: 25px;
}