* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255) ;
  font-family: "Open Sans", sans-serif;
}

.flex-card {
    display: flex;
}

/* Header Section */

.head {
    position: sticky ;
    top:0 ;
    background-color: white;
    z-index : 20 ;
}

/* 1st Information Part */
.information {
  height: 6vh;
  gap: 30px;
  width: 100%;
  background: linear-gradient(60deg, #060e1e, #1c355b 58%);
  align-items: center;
  justify-content: flex-end;
  padding: 0 100px;
  color: red;
}

.information > p {
  padding-top : 17px;
  border-bottom: 2px solid transparent;
}

.information > p:hover {
  border-bottom: 2px solid white;
}

/* 2nd Navbar Part */
.logo {
  width: 92px;
  height: 66px;
}

.navbar {
  height: 12vh;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  gap: 30px;
}

.navbar-list {
  height: 100%;
  list-style: none;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px;
  position: relative;
}

.navbar-list > .li-img {
  color: #090979;
}

.li-img {
  height: 100%;
  align-items: center;
  background-image: linear-gradient(0deg, #000, #000);
  background-size: 0% 4px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

.li-img:hover {
  background-size: 100% 4px;
}

.li-img > img {
  height: 16px;
  width: 20px;
  transform: rotate(-90deg);
  margin-left: 2px;
  transition: transform 0.4s ease;
}

.li-img:hover > img {
  transform: rotate(90deg);
}

/* Search Box */
.searchBox {
  height: 40px;
  width: 150px;
  border: 1px solid hsla(0, 0.00%, 0.00%, 0.16);
  padding: 6px 11px;
  background-color: white;
  margin-left: auto;
}

.searchBox > .searchButton {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
}

.searchBox > button > .search-text {
  border: none;
}

.searchBox > button > .searchIcon {
  background-color: white;
  width: 25px;
  height: 25px;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  height: 500px;
  background: linear-gradient(60deg, #060e1e, #1c355b 58%);
  color: #fff;
  
  overflow: hidden;

}



/* Left Section */
.left {
  flex: 1;
  max-width: 50%;
}

.left .home {
  font-size: 14px;
  color: #ccc;
  
  padding-top:10px ;
}

.left .home a { 
  color: #ccc;
  
}

.left .home span {
  color: #fff;
}

.left h1 {
  font-size: 3.125rem;
  
  font-weight: bold;
  margin: 0 auto 15px auto;
  -webkit-text-fill-color: transparent;
    background: linear-gradient(88.15deg, #f7f2d4 .27%, #d6c07c 93.77%);
    -webkit-background-clip: text;
    color: #fff;
  padding-top: 132px;
}
.wrapper{
  padding-left: calc(50vw - 97% + 85px);
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  
}
.left p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ffffff; 
  
}

/* Right Section */
.right {
  flex: 1;
  
}

.right img {
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  /* background: linear-gradient(to bottom, #ede1b6, #d9c990); */
  height: 15px;
  width: 100%;
  background: linear-gradient(90deg, #d6c07c, #f7f2d4 52.6%, #d6c07c);
}

/* Section 1 */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 20px 0px;
}

.sec {
  text-align: center;
  width: 100%;
  max-width: 990px;
  margin: 20px auto;
}

.sec > h1 {
  font-size: 2.625rem;
  line-height: 3.4375rem;
  font-weight: bold;
  color: #103167;
  
}

hr.underline {
  width: 100px;
  height: 5px;
  /* background-color: #eecd4b; Gold color */
  background: linear-gradient(90deg, #d6c07c, #f7f2d4 52.6%, #d6c07c);
  border: none;
  margin: 20px auto;
}

.sec > p {
  color: #666;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: none;
}

.read-more {
  font-size: 1rem;
  color: #1c355b; /* Blue color */
  text-decoration: none;
}

.read-more:hover {
  color: #1c355b;
  text-decoration: underline;
}

/* filter and product  */
.container-wrapper{
  width: 100%;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.Filter-product{
  display: flex;
  gap: 20px;
  position: relative;
}
/* Filter Section */
.filter-section {
  flex: 0 0 20%;
  padding: 20px 30px;
  background-color: #ffffff;
}

.filter-section > h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #103167;
  font-weight: bold;
  
}
.filter-section > h3 > a{
  color: #1c355b;
  text-decoration: none;
  font-weight: 400;
  padding-left: 20%;
}
.filter-boder {
  border-top: 1px solid #bdbdbd;
  margin-top: 10px
}
.filter-boder > h4 {
  color: #666;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 10px 0px;
}

.input {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  color: #666666;
}
.input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #666666; /* Added simple border */
}


.input input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Checkmark indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show checkmark tick when checked */
.input input:checked ~ .checkmark:after {
  display: block;
}

/* Style for the tick */
.input .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


/* Products Section */
.products-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* max-width: 1000px; */
  padding-bottom: 40px;
  position: relative;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(33.33% - 90px);
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 7px solid transparent ;
  margin-right: 22px;
 
  
}
.product-item:hover{
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  /* border-radius: 2px; */
  /* border-bottom: 7px solid #d4af37;  */
  position: relative;
  padding-bottom: 20px;
  background-image: linear-gradient(90deg, #d6c07c, #f7f2d4 52.6%, #d6c07c);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 10px;
  
}

.products-section p {
  color: #103167;
  font-size: 1.125rem;
  font-weight: 400;
}

.product-item img {
  aspect-ratio: 1;
  border-radius: 10px;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

.rating {
  color: #d3b200;
  font-size: 28.8px;
  box-sizing: content-box;
  line-height: 37.44px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.out-of-stock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #002d5e;
  color: white;
  padding:12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875;
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  min-width: 180px;
}
/* show more */

.showmore img{
  border-right: 3px solid #1c355b;
  border-top: 3px solid #1c355b;
  display: inline-block;
  height: 8px;
  margin-right: px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  max-width: 80px;
}
.showmore a{
  font-size: 1.25rem;
  color: #103167;
  font-weight: bold;
}
.showmore a:hover{
  color: #103167;
  text-decoration: none;
}
.showmore{
  display: flex;
  align-items: center;
  flex-direction: column;

}
/* Section 2 */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  height: 202px;
  max-width: 1250px;
  padding-top: 50px;
}

/* slider */
/* Parent container to hold content in a row */
.slidebtn li{
  box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid;
    border-bottom: 10px solid;
    opacity: .5;
    transition: opacity .6s ease;
}
.slider{
  margin: auto;
}
.row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Space between the two sections */
  padding: 50px;
  
}

/* Individual content blocks */
.content1{
  display: flex;
  align-items: center;
  flex: 1; /* Ensures equal space for each section */
  gap: 15px;
  
 
  padding: 15px;
}
.content2{
  display: flex;
  align-items: center;
  flex: 1; /* Ensures equal space for each section */
  gap: 15px;
  
  border-radius: 8px; /* Rounded corners */
  padding: 15px;
}
/* Image container */
.simg img {
  max-width: 286px; 
    height: 196px; 
    object-fit: cover; 
    border-radius: 0px;
}

/* Text container */
.stext h2 {
  font-size: 1.5rem;
  color: #103167; /* Heading color */
  margin: 0 0 10px;
  font-weight: bold;
}
.stext{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.stext p {
  justify-self: flex-start;
  font-size: 1rem;
  color: #666;
  margin: 0 0 10px;
}

.stext a {
  font-weight: bold;
  color: #103167;
  text-decoration: none;
}

.stext a:hover {
  text-decoration: underline;
}


.stext a:hover{
  text-decoration:underline ;
}

/* comtainer 2 hero 2 */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  justify-self: center;
  /* padding: 50px 20px 0px; */
}
.container2 {
  text-align: center;
  width: 100%;
  max-width: 990px;
  margin: 20px auto;
}
.container2 > h1{
  font-size: 2.625rem;
  line-height: 3.4375rem;
  font-weight: bold;
  color: #103167;
  text-transform: uppercase;
}
.container2 > p {
  color: #666;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: none;
  
}
.read-more2{
  
}
.read-more2 a{
  font-size: 1.2rem;
  color: #1c355b; /* Blue color */
  text-decoration: none;
  font-weight: bold;
}
.read-more2 img{
  border-right: 3px solid #1c355b;
    border-top: 3px solid #1c355b;
    display: inline-block;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    max-width: 80px;
}


.read-more2 a:hover {
  text-decoration: underline;
  color: #1c355b;
}

/* overwrite again header part */

.information > p {
    padding-top : 17px;
    border-bottom: 2px solid transparent;
    color: white
  }
  
  .information > p:hover {
    border-bottom: 2px solid white;
  }
/* hero 3 */
.hero3 {
  display: flex;
  align-items: stretch;

  justify-content: space-between;
  background-color: #103167;
  color: white;
  height: 450px;
  width: 100%;
}
.hero3-content {
  -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    padding-left: calc(50vw - 50% + 85px);
  flex: 1;
  /* max-width: 553.4rem; */
  background: linear-gradient(60deg, #060e1e, #1c355b 58%);
}
.hero3header{
  
  padding-left: 42px;
  position: relative;
  
  background-image: linear-gradient(90deg, #d6c07c, #f7f2d4 52.6%, #d6c07c);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 5px 100%;
}


.hero3header h4 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: bold;
  
  color: #e5e5e5;
  
  text-decoration: none;
}

.hero3header h2 {
  font-size: 2.625rem;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 3.4375rem;
}

.hero3-content .summary p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 30px;
  color: white;
}

.hero3-button {
    align-items: center;
    background: #fff;
    border: none;
    border-radius: 0;
    color: #103167;
    font-size: 1rem;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    line-height: 1.375rem;
    margin: auto auto 10px;
    min-width: 250px;
    text-align: center;
    
    text-transform: uppercase;
    width: auto;
}
.svg > button> img {
  
  height: 16px;
  width: 20px;
  transform: rotate(180deg);
  /* transition: opacity 0.4s ease, transform 0.4s ease; */
  opacity: 0;
}
.hero3-button:hover img {
  
  opacity: 1;
  
}

/* Image Section */
.hero3-image {
  flex: 1;
  overflow: hidden;
}

.hero3-image img {
  align-self: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}